[Unit]
Description=Run Buscrawl transfer potential aggregation after midnight

[Timer]
OnCalendar=*-*-* 00:00:00
AccuracySec=5min
Persistent=false
Unit=buscrawl-transfer-potential-nightly.service

[Install]
WantedBy=timers.target
